.header {
  @apply pt-6 pb-5;

  /* navbar items */
  .navbar {
    @apply relative flex flex-wrap items-center lg:justify-between;
  }
}

/* Navbar Toggler */
.navbar-toggler {
  @apply border-border/75 cursor-pointer rounded border-2 p-1 lg:hidden;
}

.navbar-brand {
  @apply text-text-dark text-xl;
  img {
    @apply max-h-full max-w-full;
  }
}

.navbar {
  @apply justify-start sm:justify-end;
}
.navbar-nav {
  @apply border-border text-center lg:text-left;
  @apply max-lg:border-text-dark max-lg:custom-shadow w-[calc(100%_-_25px)] max-lg:absolute max-lg:top-full max-lg:z-10 max-lg:mt-5 max-lg:rounded-2xl max-lg:bg-white max-lg:px-4 max-lg:py-6 sm:w-[300px];

  .nav-item {
    .nav-link {
      @apply text-text hover:text-tertiary relative flex items-center px-3 py-2 font-medium transition after:w-0 max-lg:justify-center lg:px-2 lg:py-3;

      .arrow-icon {
        @apply relative -z-10 inline-flex w-4 items-center justify-center text-center align-[-2px] text-xs/snug transition-transform duration-300;
      }
    }
  }
}

.nav-dropdown {
  @apply mr-0;

  .nav-link {
    @apply cursor-pointer text-center max-lg:justify-between;
  }

  .nav-dropdown-list {
    @apply bg-body custom-shadow border-border mx-auto max-w-[250px] min-w-[200px] rounded border p-3;

    .nav-dropdown-link {
      @apply text-text-dark/70 hover:bg-tertiary/5 hover:text-tertiary block rounded px-3 py-1.5 font-medium transition max-lg:text-center;
    }
  }

  /* For Large Devices (Dropdown Arrow Icon) */
  &:hover .nav-link .arrow-icon {
    @apply lg:rotate-180 lg:transform;
  }

  /* For Small Devices */
  &.active {
    /* Dropdown Arrow Icon */
    .nav-link {
      .arrow-icon {
        @apply max-lg:rotate-180 max-lg:transform;
      }
      .icon {
        @apply max-lg:rotate-180;
      }
    }

    /* Show Dropdown Menu On Click */
    .nav-dropdown-list {
      @apply max-lg:visible max-lg:block max-lg:opacity-100;
    }
  }
}
