/* navbar toggler */
input#nav-toggle:checked + label #show-button {
  @apply hidden;
}

input#nav-toggle:checked + label #hide-button {
  @apply block;
}

input#nav-toggle:checked ~ #nav-menu {
  @apply max-lg:!block;
}

/* Fix for mobile dropdown visibility */
.nav-dropdown.active .nav-dropdown-list {
  @apply max-lg:!visible max-lg:!block max-lg:opacity-100;
}

/* form style */
.form-input {
  @apply border-border text-text-dark placeholder:text-text-dark/40 focus:border-tertiary w-full rounded border px-6 py-4 transition placeholder:font-medium focus:ring-[(--tertiary)];

  &:focus {
    @apply shadow-transparent! ring-transparent! outline-transparent!;
  }
}

.form-label {
  @apply text-text-dark mb-2 block font-normal;
}
